@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  body {
    background-color: theme(colors.base-background);
    color: theme(colors.base-text);
  }

  body, input, textarea, button {
    font: 400 theme(fontSize.sm) 'Nunito', sans-serif;
    line-height: 160%;
  }
}